
.nbaheader {

    padding: 16px;
    margin-top: 30px;
    height: 100%; 
    background-color: white;
    color: black;
    text-align: center;
    font-size: 25px;
    border-bottom: 1.5px darkblue solid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navigating li {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: inline;
}

.navigating a {
    display: block;
    background-color: darkblue;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 25px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    
    /*margin-right: -5%;
    margin-left: -5%;
    */
}

.navigating a:hover {

    background-color: navy;
    /*color: blue;*/
}

 .navigating li {
     float: left;
 }

 .navigating {
    
    overflow: hidden;
    background-color: darkblue;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0%;
    margin-left: -2%;
    /*margin: 0%;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    */
 }
 
 
.heading {
    padding: 16px;
    margin-top: 30px;
    height: 100%; 
    background-color: white;
    color: black;
    text-align: center;
    font-size: 25px;
    border-bottom: 1.5px darkblue solid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 155%;
    float: center;
    background-color: red;
    padding: 2%;
    color: white;
    text-align: center;
    margin-top: -0.25%;
    margin-left: -5%;
    margin-right: -5%;
    margin-bottom: -0.25%;
    */
}

#playerstats {

    float: right;
    font-size: 125%;
    font-family: 'Courier New', Courier, monospace;
    /*border: 1.5px darkblue solid;*/
    border-left: 1.5px darkblue solid;
    width: 50%;
    overflow: hidden;
}

.explanation {

    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    float: left;
    /*border-bottom: 1.5px darkblue solid;*/
}

#powerranking article {
    
    border-top-style: ridge;
    border-bottom-style: ridge;
    border-left-style: ridge;
    border-right-style: ridge;
    border-spacing: -15%;
    height: 75%;
    width: 30%;
    margin: 0%;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-size: 21.5pt;
    padding-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.titlepr {

    font-size: 125%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 7%;
    padding-left: 2%;

}

.imagesplayers {

    float: right;
    width: 95%;
}

#playerstats li {

    font-family: 'Courier New', Courier, monospace;
    font-size: 125%;
    list-style-type: none;
    float: right;
    width: 95%;
}

.leaderstitles {

    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
    width: 85%;
}

#teams{

    float: right;
    width: 65%;
    position: relative;
    
}

.footer{
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkred;
    color: white;
    padding-left: 25px;
}

.footer a{

    text-decoration: none;
    color: white;
}

.footer a:hover{

    color: red;
    background-color: rgb(68, 1, 14);
}

#nbalogo{

    width: 2.5%;
    padding-right: 10px;
    padding-top: 5px;
}